.Navigation {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 100vh;
    color: white;
    background: linear-gradient(10deg, #810551, #05454d);
    padding: 5px 10px;
     overflow: hidden;

}

.Navigation.active{
    width: max-content;
}

.Navigation .menu{
    position: absolute;
    right: 10px;
    top: 0;
    margin-left: auto;
    font-size: 18px;
    height: 35px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.Navigation.active .menu{
    position: relative;
}

.Navigation .menu.active{
    rotate: 180deg;

}

.Navigation header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 15px;
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 14px;
    margin-bottom: 10px;

}

.Navigation header::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.36);
    bottom: 0;
}

.Navigation.dark header{
    background-color: rgba(0, 0, 0, 0.438);
}

.Navigation.active header{
    padding: 0 ;
    margin-top:10px ;
    background-color: transparent;   
}

.Navigation.active header::after,
.Navigation.active header span{
    display: none;
}



.Navigation header .profile {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: lightgray;
}

.profile-img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.Navigation.active header .profile {
   height: 40px ;
   
}

.Navigation header span{
    font-size: 15px;
}

.Navigation .divider{
    position: relative;
    margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.438);
}

.Navigation .bg-waves{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.3;
}

