*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #111;
}

::-webkit-scrollbar{
  background-color: #111;
  width: 3px; 
}

::-webkit-scrollbar-thumb{
  background-color: #00464e;
}